<form method="POST" action="index.php?pg=Coffee&act=insert" >
<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Nome</label>
  <input type="text" name="nomeproduto" class="form-control" id="nomeproduto">
</div>
<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Preço</label>
  <input type="text" name='precoproduto' class="form-control" id="precoproduto">
  <br>
  <div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">imagem</label>
  <input type="text" name='imagemproduto' class="form-control" id="imagemproduto">
  <br>
  <a href = "index.php?pg=Coffee"></a>
  <button type="submit">Cadastrar</button>
</div>
</form>